:root {
  --sl-color-accent-low: #1a3a2a;
  --sl-color-accent: #10b981;
  --sl-color-accent-high: #a7f3d0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

[data-theme='light'] {
  --sl-color-accent-low: #d1fae5;
  --sl-color-accent: #059669;
  --sl-color-accent-high: #064e3b;
}
